:root {
    --White: hsl(0, 0%, 100%);
    --Light-ray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
    --Text-color: #a7acb8;
    --paragraph-font-size: 15px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
    background-color: var(--Light-ray);
    
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 1px);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h2,
p {
    font-family: inherit;
}

.container {
    background-color: var(--White);
    padding: 15px 20px 35px 20px;
    border-radius: 12px;
    overflow: hidden;
    max-width: 320px;
}

.container__image {
    object-fit: cover;
    border-radius: 12px;
}

.container__textbox {
    padding: 10px 10px;
    text-align: center;
}

.container__textbox h2 {
    margin: 12px 0;
    font-size: 22px;
    font-weight: 700;
}

.container__textbox p {
    color: var(--Text-color);
    font-size: var(--paragraph-font-size);
    font-weight: 400;
}


.attribution {
    font-size: 11px;
    text-align: center;

    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 375px) {
    .container {
        max-width: 90%;
    }

    .container__textbox {
        padding: 10px 5px;
    }
}